body {
	margin: 0% 10%;
	height: 200%;
}

.headImage {
	width: 150px;
	height: auto;
	margin: 0;
	padding: 0;
	float: left;
}
.topnav {
	background-color: #333;
	overflow: hidden;
	width: 100%;
}

.topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav a:hover {
	background-color: #ddd;
	color: black;
}

.active {
	background-color: #4CAF50;
	color: white;
}

.topnav .icon {
	display: none;
}

@media screen and (max-width: 600px) {
	.topnav a:not(:first-child) {display: none;}
	.topnav a.icon {
		float: right;
		display: block;	
	}
}

@media screen and (max-width: 600px) {
	.topnav.responsive {position: relative;}
	.topnav.responsive a.icon {
		position: absolute;
		right: 0;
		top: 0;	
	}
	.topnav.responsive a{
		float: none;
		display: block;
		text-align: left;	
	}
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;	
}


.sticky + .content {
  padding-top: 60px;
}


.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	max-width: 300px;
	display: inline-block;
	text-align: center;
	float:left;
}

.title {
	color: grey;
	font:size: 18px;
}

button {
	border: none;
	outline: 0;
	display: block;
	padding: 8px;
	color: white;
	background-color: #000;
	text-align: center;
	cursor: pointer;
	width: 100%;
	font-size: 18px;
}

button:hover, a:hover {
	opacity: 0.7;
}


.tabs {
	display: inline-block;
	border-right: 2px solid #110;
	padding: 5px 5px;
	border-bottom: 5px solid #191 hidden;
	margin: auto;
}

.tabContent {
	min-width: 300px;
	max-width: 600px;	
}

.tabContent p {
	line-height: 0;
	text-decoration: none;
	display: inline-block;
	vertical-align: top;
}
.leaveType {
	float: left;
	
}
.daysRemain, .applyLeave{
	float: right;
	display: inline-block;
}

button.applyLeave {
	line-height: 1;	
	float: right;
	position: relative;
	right: 0;
	margin-left: 75%;	
	color: greenyellow;
	background-color: #777;
	width: auto;
	height: auto;
	min-height: 0;
	min-width: 0; 
	font-size: 12px;
	display: inline-block;
	
}

.applyLeave{

}